<%- include ('partials/header') %>
<div class="container series">
<%	data[1].genres.forEach(function(item){
		if(item.id.toString() === data[2].toString()){ 	%>	
			<h3><%=item.name%></h3>

<%		}
	}); %>
	<div class="row">
		<% for (var i = 0; i < data[0].results.length - 1; i = i+2){ %>
			<div class = "col-lg-4">
				<div class = "row">
					<div class ="col-6">
						<%while(data[0].results[i].poster_path === null){
							i++;
						} %>
						<% var url = "http://image.tmdb.org/t/p/w342//" + data[0].results[i].poster_path;%>
						<a href="/results/<%=data[0].results[i].id%>"><img src="<%=url%>"></a>
						
						<div>
							<a href="/results/<%=data[0].results[i].id%>"><h5 class ="movie-title"><%=data[0].results[i].title%></h5></a>
							<h6 class ="date"><%=data[0].results[i].release_date.substring(0,4)%></h6>
						</div>
					</div>
					<div class ="col-6">
						<%while(data[0].results[i+1].poster_path === null){
							i++;
						} %>
						<% url= "http://image.tmdb.org/t/p/w342//" + data[0].results[i+1].poster_path; %>
						<a href="/results/<%=data[0].results[i+1].id%>"><img src="<%=url%>"></a>
						<div>
							<a href="/results/<%=data[0].results[i+1].id%>"><h5 class ="movie-title"><%=data[0].results[i+1].title%></h5></a>
							<h6 class ="date"><%=data[0].results[i+1].release_date.substring(0,4)%></h6>
						</div>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</div>
<%- include ('partials/footer') %>