<!DOCTYPE html>
<html>
<head>
	<title>Movie/Game Search Application</title>
	<link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
	<h1>Results Page!!</h1>
	<ul>
		<% data["Search"].forEach(function(movie){ %>
			<li>
				<strong>
					<%= movie["Title"] %>:
				</strong> 
			</li>		
			<ul class = "square">
				<% if(movie["Poster"] === "N/A"){ %>
					<li>Poster: N/A</li>
				<% } else { %>
					<li><img src="<%=movie["Poster"]%>"></li>
				<% } %>
				<li>Year : <%= movie["Year"]%></li>
				<li>imdbID : <%= movie["imdbID"]%></li>
				<li>Type : <%= movie["Type"]%></li>

			</ul>
			<p></p>
		<% }) %>
	</ul>

	<a href="/">Search Again</a>
</body>
</html>

