<%- include ('partials/header') %>

	<ul>
		<% data["Search"].forEach(function(movie){ %>
			<div class = "ui main text container segment">
				<div class = "ui huge header"><%= movie["Title"] %></div>	
				<ul class = "square">
					<% if(movie["Poster"] === "N/A"){ %>
						<div class ="content">
							<li>Poster: N/A</li>
						</div>
					<% } else { %>
						<img class= "ui centered rounded image" src="<%=movie["Poster"]%>">
					<% } %>
					<li>Year : <%= movie["Year"]%></li>
					<li>imdbID : <%= movie["imdbID"]%></li>
					<li>Type : <%= movie["Type"]%></li>

				</ul>
			</div>
		<% }) %>
	</ul>

<%- include ('partials/footer') %>

